body {
  width: 100%;
  padding: 0;
  background-color: rgb(255, 255, 255);
  max-width: 1020px;
  min-width: 768px;
  margin: 0 auto;
}

.date-box {
  width: 20rem;
  height: 2.5rem;
  border-color: rgb(240, 240, 240);
  border-width: 3px;
  border-style: solid;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.add-item-row {
  display: flex;
}

.input-box {
  width: 20rem;
  height: 2.5rem;
  border-radius: 9999px;
  border-color: rgb(240, 240, 240);
  border-width: 3px;
  border-style: solid;
  margin-right: 10px;
  padding-left: 20px;
}

.input-box::placeholder {
  font-size: 16px;
}

.button-add {
  width: 5rem;
  height: 3rem;
  border-radius: 9999px;
  background-color: rgb(224, 93, 136);
  color: white;
}
